pyOpenSSL==17.3.0
PyQt5==5.9
requests==2.18.4
bitcoin==1.1.42
appdirs==1.4.3
timeago==1.0.7
base58==0.2.5
py-ubjson==0.10.0
mnemonic==0.18
pycoin==0.80
qrcode==5.3
Pillow==4.3.0
SQLAlchemy==1.2.0b1
protobuf==3.5.1
mcrpc==0.2.4